##Task 1
1- A randon program for which I have to share the screensot

In [6]:
name = 'Ankita'
age = '25'
print("Hello "+ name+","+" Your age is "+age)

Hello Ankita, Your age is 25

2- Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [19]:
numbers=[]
for i in range (2000, 3201):
    if (i%7==0) and (i%5==0):
        numbers.append(str(i))
print(','.join(numbers))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

3- Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [24]:
first_name=input("Enter your first name : ")
last_name= input("Enter your last name : ")

print("Your name in reverse order is " + last_name +" " +first_name)

Enter your first name : Ankita
Enter your last name : Singh
Your name in reverse order is Singh Ankita

4- Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * π * r 3

In [26]:
π= 3.14
d=12
r=6
Vol = 4/3 * π * r *3

print("Volume of sphere with diameter 12 is - ", Vol)

Volume of sphere with diameter 12 is -  75.35999999999999

Task 2

1 - Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [33]:
l1 = input("Enter the numbers :")

l1

Enter the numbers :10,20,30,40,50

'10,20,30,40,50'

2 - Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [39]:
print("The pattern will appear as : ")
a=1
while a<=5:
    print('*'*a)
    a=a+1
while a>=1:
    print('*'*a)
    a=a-1

The pattern will appear as :
*
**
***
****
*****
******
*****
****
***
**
*

3- Write a Python program to reverse a word after accepting the input from the user.

In [46]:
l= input("Enter a word:")
print(l[: : -1])

Enter a word:Ankita Singh
hgniS atiknA

4- Write a Python Program to print the given string in the format specified in the sample output.

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

In [48]:
print("WE, THE PEOPLE OF INDIA,\nhaving solemnly resolved to constitute India into a SOVEREIGN, ! \nSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \nand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens